/* UTILITIES
 * --------------------------
*/

.w-300 {
 font-weight: 300 !important;
}
.w-400 {
 font-weight: 400 !important;
}
.w-500 {
 font-weight: 500 !important;
}
.w-700 {
  font-weight: 700 !important;
}
