/* VARIABLES
 * --------------------------
*/
$assets-root: '../assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts/';

$body-bg:         #eaeaea;
$body-color:     rgba(0,0,0,0.87);
